$night-mode-bg: #121212;
$night-mode-fg: #ffffffe6;

body.night-mode {
  background-color: $night-mode-bg;
  color: $night-mode-fg;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $night-mode-fg;
  }
  .highlight .n { color: #d6e9e9 } /* Name */
  .highlight .nn { color: #d6e9e9 } /* Name */

  .masthead,
  .post,
  hr {
    border-color: hsla(0, 100%, 100%, 0.15);
  }

  $link-color: rgb(218, 202, 136);
  .entry a,
  a.read-more {
    color: $link-color;
  }

  a:hover {
    color: lighten($link-color, 15);
  }

  .wrapper-footer {
    background-color: $night-mode-bg;
  }

  .highlight {
    background-color: #121212;
  }

  nav a,
  .site-description {
    color: #ccc;
  }

  blockquote {
    margin: 0;
  }
  
  blockquote p {
    background: #7c7b7b;
  }
}
